#container {
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
}

#c {
    border: 1px solid black;
    width: 500;
    height: 500;
}

#editor {
    max-width: 400px;
    padding: 24px;
}

#shape-chooser {
    min-width: 600px;
}

#shape-chooser h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

#shape-button-container {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.shape-button {
    min-width: 70px;
    height: 40px;
    padding: 0 16px;
    cursor: pointer;
}

#toolbar {
    padding: 24px 0;
}

#toolbar h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

#toolbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.toolbar-slider-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    max-width: 150px;
}

#vertex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}